*{
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
  }
  li{
    list-style: none;
  }
  body{
    font-family: 'Open Sans', sans-serif; 
  }
  header{
     width: 100%;
     background: #000;
     display: flex;
  }
  .header__logo{
    text-transform: uppercase;
    color: #fff;
    font-weight: 800; /*чтобы текст стал по жирнее*/
    font-size: 24px;
    cursor: pointer;
    margin-top: 56px;/*отступ сверху*/
    margin-left: 12%;/*отступ слева*/
  }
  nav{
    margin-top: 56px;
    margin-left: 29%;
  }
  .topnav a{
    color: #fff;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
  }
  .topnav a:hover{
    border-bottom: 3px solid #fcac45;
  }
  .topnav .icon{
      display: none;
  }
  main{
    display: flex;
    flex-direction: column;
    width: 100%;
    }
    main .main_welcome{
      background:#000;
      text-align: center;
      padding: 200px 0 410px 0;
      }
    main .main_welcome p{
        color: #999999;
        font-size: 20px;
        }
    main .main_welcome h1{
          color: #999999;
          font-size: 44px;
          }
    .mycompany{
      color: #fcac45;
    }
    .wrapper{
      width: 76%;
      margin: 0 auto;
    }
    main .main_about{
      display: flex;
      padding: 100px 0 100px 0;
    }
    .about_right{
      margin-left: 175px;
    } 
    .about_right h1{
      display: inline-block;
      border-bottom: 3px solid #fcac45;
      padding-bottom: 20px;
    }
    .about_right p{
      margin: 30px 0 50px 0;
      color: #6c6c6c;
    }
   
    .mw-100{
      min-width: 100%;
    }
    







  @media screen and (max-width: 1200px){
    nav{
      margin-left: 20%;
    }
  }
  @media screen and (max-width: 1105px){
    nav{
      margin-left: 10%;
    }
  }

@media screen and (max-width: 1010px){
  .topnav a{
    float: right;
    margin-top: -17px;
    display: block;
    color:#fff;
    font-size: 25px;
    display: none;
  }
  nav{
    width: 100%;
  }
  .topnav.responsive{
    position: relative;
    top: 50px;
    left: -200px;
  }
  header .topnav.responsive{/*класс респонсив*/
    height: 340px;
  }
  .topnav.responsive a.icon{
    position: absolute;
    top: -50px;
    left: 600px;
  }
  .topnav.responsive a{
    float: none;
    display: block;
    text-align: left; 
  }
  .topnav .icon{
    display: block;
}

main .main_welcome{
  padding: 50px 0 50px 0;
}
main .main_welcome p{
  font-size: 14px;
}
main .main_welcome h1{
  font-size: 25px;
}
.mw-100{
  max-width: 100%;
}
.main_about{
  flex-direction: column;
}
.about_right{
  text-align: center;
  margin-left: 0;
}
.about_right li{
  text-align: left;
}
.about_right h1{
  margin-top: 10px;
  font-size: 20px;
}
}
